@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;

$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$alert-danger: #ee5253;
$board-bg-color : #a5a9ac;
$input-border-color: #2fadf7;
$app-main-text-color: #333;
$common-element-bg: rgba(255, 255, 255, .24);
$column-bg-color: #ebecf0;
//screen
$screen-lg : 1201px;
$screen-md : 992px;
$screen-sm : 768px;
$screen-phone : 480px;

$column-border-radius: 4px;
